.cert{
 color: white;
 
 
 	&__header{
	font-family: $titleFont;
 text-align: center;
	font-weight: 700;
	font-size: 5rem;
	line-height: 0;
	}
 
 &__gallery{
  position: relative;
  display: block;
  margin: 0 auto 0 auto;
  width: 100vw;
  min-height: 370px;
 
  
  @mixin atSmall{
  min-height: 400px;
  width: 90vw;
  }
  @mixin atMedium{
    width: 70vw;
    max-width: 900px;
   
  }
  
  @mixin atLarge{
   
   min-height: 600px;
   
  }
 }
 

 
 #control-left, #control-right{
  
  display: none;
  
  @mixin atSmall{
  position: absolute;
  display: inline-block;
  top: 20%;
  font-size: 6rem;
  color: $mainBlue;
  }
  
  @mixin atMedium{
  top: 28%;
  font-size: 8rem;
  
  }
 }
 
 #control-left{
  
  transform: rotate(90deg);
  left: 2%;
  
  @mixin atMedium{
   left: 3%;

  }   
 }
 
 #control-right{
  
  transform: rotate(-90deg);
  right: 2%;
  
  @mixin atMedium{
   right: 3%;

  }   
 }
 
  #control-left:hover, #control-right:hover{
 
  color: $mainGold;
  
 }
 

	
 &__gallery-main-pic{
  
  position: absolute;
  left: 2.5%;
  width: 95%;
  border: $mainBlue 2px solid;
  box-shadow: 3px 5px rgba($shadowBlack,.3);
  
  @mixin atSmall{
   width: 70%;
   left: 15%;
  }
  
  }
 
 
 
 &__thumbs-container{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100vw;
  margin-bottom: 4rem;
  
  }
  
  
  &__thumb{
 
   flex: 0 1 auto;
   width: 80%;
   margin: 1rem 1rem 2rem 1rem;
   border: $mainBlue 2px solid;
   box-shadow: 3px 5px rgba($shadowBlack,.3);
   
   @mixin atSmall{
    width: 30%;
    
   }
   
   @mixin atMedium{
    width: 20%;
    margin: 6rem 2rem 6rem 1rem;
   }
  }
  
  &__thumb--active{
   
   transform: scale(1.2); 
   margin: 2rem 2rem 4rem 2rem;
   border: $mainGold 2px solid;
   transition: all .3s ease-in;
   
   @mixin atSmall{
    margin: 0 2rem 4rem 2rem;
    
   }
   
   @mixin atMedium{
    
    margin: 0 2rem 0rem 2rem;
   }
 
  }
 
 
}