.cert{
 color: white;
 
 
 	&__header{
	font-family: $titleFont;
 text-align: center;
	font-weight: 700;
	font-size: 5rem;
	line-height: 0;
	}
 
 &__gallery{
  position: relative;
  display: block;
  margin: 0 auto 0 auto;
  width: 60vw;
  min-height: 40vh;
 }
 

 
 #control-left, #control-right{
  position: absolute;
  top: 28%;
  font-size: 8rem;
  color: $mainBlue;
  
 }
 
 #control-left{
  
  transform: rotate(90deg);
  left: 5%;
  
 }
 
 #control-right{
  
  transform: rotate(-90deg);
  right: 5%;
  
 }
 
  #control-left:hover, #control-right:hover{
 
  color: $mainGold;
  
 }
 

	
 &__gallery-main-pic{
  
  position: absolute;
  left: 15%;
  width: 70%;
  border: $mainBlue 2px solid;
  box-shadow: 3px 5px rgba($shadowBlack,.3);
  
  
 }
 
 &__thumbs-container{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-content: center;
  width: 100vw;
  margin-bottom: 4rem;
  }
  
  
  &__thumb{
   
   flex: 0 1 auto;
   width: 20%;
   margin: 0 1rem 0 1rem;
   border: $mainBlue 2px solid;
   box-shadow: 3px 5px rgba($shadowBlack,.3);
   transition: all .3s ease-in;
  }
  
  &__thumb--active{
   
   transform: scale(1.2); 
   margin: 0 2rem 0 2rem;
   border: $mainGold 2px solid;
   transition: all .3s ease-in;
 
  }
 
 
}